<div>
  <app-menubar></app-menubar>
  <main class="d-flex justify-content-center">
    <section>
      <div class="container">
        <h2 class="text-info text-center">Register</h2>
        <form>
          <div class="form-group pb-3">
            <label for="email">Email</label>
            <input class="form-control item" type="email" id="email" name="inputEmail" placeholder="example@gmail.com">
          </div>
          <div class="form-group pb-3">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="inputPassword">
          </div>
          <button class="btn btn-primary btn-block" type="submit">Register</button>
          <div class="pt-3">
            <a href="/login">Tienes una cuenta? - Login</a>
          </div>
        </form>
      </div>
    </section>
  </main>
</div>
